body{
    background-color: rebeccapurple;
}
section{
    width: 50%;
    margin: auto;
    color: black;
    font-weight: bold;
}

button{
    width: 50%;
}

#btnExtra{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
#btnExtra{
    width: 50%;
}